<div class='text-center'>
  <h2><%= @post.title %></h2>
  <%= image_tag(@post.image) %>
  <br>
  <span style='padding-right:14em'><%= @post.votes_total%> points • <%= @post.comments.count %> comments</span>
  <div style='padding-right:21em'>
    <% if @post.vote_for(current_user).nil? %>
      <%= link_to post_votes_path(@post, { is_up: true }), method: :post do %>
        <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
      <% end %>
      <%= link_to post_votes_path(@post, { is_up: false }), method: :post do %>
        <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
      <% end %>
    <% elsif @post.vote_for(current_user).is_up? %>
      <%= link_to vote_path(@post.vote_for(current_user)), method: :delete do %>
        <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
      <% end %>
      <%= link_to vote_path(@post.vote_for(current_user), { is_up: false }), method: :patch do %>
        <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to vote_path(@post.vote_for(current_user), { is_up: true }), method: :patch do %>
        <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
      <% end %>
      <%= link_to vote_path(@post.vote_for(current_user)), method: :delete do %>
        <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
  <hr>

  <% if user_sign_in? %>
    <%= simple_form_for [@post, @comment] do |c| %>
      <div>
        <h4><%= current_user.full_name %></h4>
        <%= c.text_area :body, cols: "40", rows: "3", placeholder: 'Leave a Comment' %>
        <br>
      </div>
      <div style='padding-left:19.5em'>
        <%= c.submit 'Post', class: 'btn btn-primary btn-sm' %>
      </div>
      <hr>
    <% end %>
  <% end %>

  <div>
    <% @post.comments.order(created_at: :asc).each do |c| %>
    <%= c.user.full_name %>:
    <%= c.body %>
    <br><br>
    <% end %>
  </div>
  <br><br>
</div>
